<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light">
            CV Generator
        </a>
    </div>
</nav>

<div class="container text-center p-2">
    <div class="row">
        <div class="col-md-4">
            <h1>Write Yourself</h1>
            <div class="mb-3 d-flex flex-row">
                <div class="w-50 mx-2">
                    <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="name">
                </div>
                <div class="w-50 mx-2">
                    <input type="text" class="form-control" id="lastName" placeholder="Lastname" [(ngModel)]="lastname">
                </div>
            </div>
            <div class="mb-3">
                <div class="d-flex flex-row justify-content-center align-items-end">
                    <div class="w-100 mx-2">
                        <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="title">
                    </div>
                    <button style="height: 35px;" class="btn btn-primary mx-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        +
                    </button>
                </div>
                <div class="collapse mt-3 mx-2" id="collapseExample">
                    <input type="text" class="form-control" id="title2" placeholder="Title 2" [(ngModel)]="title2">
                </div>
            </div>
            <div class="mb-3">
                <textarea placeholder="About" [(ngModel)]="about" class="form-control mx-2"
                    id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <div class="col-md-8 text-center">
            <div class="container">
                <h2>
                    {{name +" "+lastname}}
                </h2>
                <h3>
                    {{title}}
                    {{title2 ? " | "+title2 : ""}}
                </h3>
                <hr *ngIf="name">
                <span *ngIf="about" class="d-flex flex-row justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                        class="bi bi-person-circle mx-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    <h2 class="m-0">About</h2>
                </span>
                <p class="p-5">
                    {{about}}
                </p>
                <hr *ngIf="about">
            </div>
        </div>
    </div>
</div>